# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.ipynb_checkpoints
__pycache__
/dist/
/*.egg-info
.cache/v/cache/lastfailed

.idea/dictionaries/rasmus.xml

.idea/inspectionProfiles/profiles_settings.xml

*.xml

*.iml

data/Sequoia/0077/.thumb/IMG_180413_080658_0000_GRE.JPG

data/Sequoia/0077/.thumb/IMG_180413_080658_0000_NIR.JPG

data/Sequoia/0077/.thumb/IMG_180413_080658_0000_RED.JPG

data/Sequoia/0077/.thumb/IMG_180413_080658_0000_REG.JPG

data/Sequoia/0077/.thumb/IMG_180413_080658_0000_RGB.JPG
